# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

assets
src/pages/Admin/*
# src/pages/About.jsx
# src/pages/BuyCar.jsx
# src/pages/BuyCarDetails.jsx
# src/pages/CarRent.jsx
# src/pages/ChangePassword.jsx
# src/pages/ForgetPassword.jsx
# src/pages/Home.jsx
# src/pages/Login.jsx
src/pages/NotFound.jsx
src/pages/Profile.jsx
src/pages/RentCar.jsx
src/pages/RentCarDetails.jsx
src/pages/Review.jsx
src/pages/SellCar.jsx


store 
styles

.env 
